{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Masthead-->
<div style="padding-top: 75px; padding-left: 50px; padding-right: 50px; text-align: center;">

<div class="container">
    {% for profile in our_profiles %}
    <p>
        {{ profile.first_name }}
        {{ profile.last_name }}
        {{ profile.email }}
        {{ profile.phone }}
        {{ profile.username }}
        {{ profile.password }}
        {{ profile.profile_photo }}
        {% for skill in profile.skills.all %}
            <br>
            {{ skill.title }}
            <br>
            {{ skill.description }}         
        {% endfor %}
        </p>  
    {% endfor %} 
</div>

</div>


{% endblock %} 