{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Grayscale</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">A free, responsive, one-page Bootstrap theme created by Start Bootstrap.</h2>
            <a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a>
        </div>
    </div>
</header>
<div class="container">
    {% for profile in our_profiles %}
    <p>
        {{ profile.first_name }}
        {{ profile.last_name }}
        {{ profile.email }}
        {{ profile.phone }}
        {{ profile.username }}
        {{ profile.password }}
        {{ profile.profile_photo }}
        {% for skill in profile.skills.all %}
            <br>
            {{ skill.title }}
            <br>
            {{ skill.description }}         
        {% endfor %}
        </p>  
    {% endfor %} 
</div>


{% endblock %} 