{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Grayscale</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">A free, responsive, one-page Bootstrap theme created by Start Bootstrap.</h2>
            <a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a>
        </div>
    </div>
</header>
<div>
    <form action="/application_url/" method="post">
        <label for="first_name">First Name:</label>
        <input id="first_name" type="text" name="first_name">

        <label for="last_name">Last Name:</label>
        <input type="last_name" type="text" name="last_name">

        <label for="user_name">Username:</label>
        <input type="user_name" type="text" name="user_name">

        <label for="password">Password:</label>
        <input type="password" type="password" name="password">

        <label for="email">Email:</label>
        <input type="email" type="text" name="email">

        <label for="phone">Phone:</label>
        <input type="phone" type="text" name="phone">

        <label for="profile_photo">Image:(Not Working)</label>
        <input type="profile_photo" type="text" name="profile_photo">

        <label for="skill">Image:(Not Working)</label>
        <input type="skill" type="text" name="skill">

        <input type="submit" value="Save">
    </form>         
</div>
{% endblock %} 