{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Grayscale</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">A free, responsive, one-page Bootstrap theme created by Start Bootstrap.</h2>
            <a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a>
        </div>
    </div>
</header>
<div>
    <form action="{% url 'searchprofile' %}" name="form" method="get">
        <label for='first_name'>Enter the first name:</label>
        <input type="text" name='first_name' id='first_name'>
        <br><br>

        <label for='last_name'>Enter the last name:</label>
        <input type="text" name='last_name' id='last_name'>
        <br><br>
        <button type="submit">Search</button>
    </form> 
</div>
{% endblock %} 